@font-face {
    font-family: "iconfont";
    /* Project id 4872836 */
    src: url('//at.alicdn.com/t/c/font_4872836_vjqj3ttnmtf.woff2?t=1744168300419') format('woff2'),
        url('//at.alicdn.com/t/c/font_4872836_vjqj3ttnmtf.woff?t=1744168300419') format('woff'),
        url('//at.alicdn.com/t/c/font_4872836_vjqj3ttnmtf.ttf?t=1744168300419') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-shangpintuijian:before {
    content: "\e6a3";
}

.icon-chuangjianrequ:before {
    content: "\e7af";
}

.icon-guanggaotu:before {
    content: "\eb6c";
}

.icon-lunbotu:before {
    content: "\e697";
}

.icon-weinintuijian:before {
    content: "\e662";
}

.icon-jingangqu:before {
    content: "\e601";
}

.icon-fanhui:before {
    content: "\e7f0";
}

.icon-gengduo:before {
    content: "\e7f3";
}

.icon-guanbi:before {
    content: "\e62b";
}

.icon-juzhongduiqi:before {
    content: "\ec80";
}

.icon-youduiqi:before {
    content: "\ec82";
}

.icon-zuoduiqi:before {
    content: "\ec86";
}

.icon-zuoyouduiqi:before {
    content: "\ec87";
}

.icon-link:before {
    content: "\e676";
}

.icon-bars:before {
    content: "\e609";
}

.icon-wenjianjia:before {
    content: "\e600";
}

.icon-bofang1:before {
    content: "\e602";
}

.icon-shangchuan:before {
    content: "\e606";
}

.icon-shangchuan1:before {
    content: "\e661";
}

.icon-jiahao1:before {
    content: "\e727";
}

.icon-bofang:before {
    content: "\e798";
}

.icon-fenlei:before {
    content: "\e799";
}

.icon-bianji:before {
    content: "\e79a";
}

.icon-shanchu:before {
    content: "\e79b";
}

.icon-shijian:before {
    content: "\e79c";
}

.icon-baocun:before {
    content: "\e79e";
}

.icon-mulu:before {
    content: "\e605";
}

.icon-wenhao:before {
    content: "\e72d";
}

.icon-yanjing_yincang:before {
    content: "\eb45";
}

.icon-yanjing_xianshi:before {
    content: "\eb46";
}